[submodule "themes/geekdoc"]
	path = themes/geekdoc
	url = https://github.com/thegeeklab/hugo-geekdoc
[submodule "themes/hugo-theme-tokiwa"]
	path = themes/hugo-theme-tokiwa
	url = https://github.com/heyeshuang/hugo-theme-tokiwa.git
