@font-face {
  font-family: "Academicons";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/academicons.woff") format("woff"),
    url("../fonts/academicons.ttf") format("truetype");
}

.ai {
  display: inline-block;
  font-family: "Academicons";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.ai-google-scholar-square::before {
  content: "\e9f9";
}
