<div
  class="sidebar{{ with .Site.Params.doNotLoadAnimations }}
    .
  {{ else }}
    animated fadeInDown
  {{ end }}"
>
  <div class="sidebar__content">
    {{ with .Site.Params.profilePicture }}
      <a class="sidebar__profile-link" href="{{ $.Site.BaseURL | relLangURL }}" aria-label="Home">
        <img
          class="sidebar__introduction-profileimage"
          src="{{ . | relURL }}"
          alt="{{ $.Site.Params.author }} logo"
        />
      </a>
    {{ end }}
    <div class="sidebar__introduction">
      {{ if .IsHome }}
        <div class="sidebar__introduction-title">
          <h1>
            <a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Params.Title }}</a>
          </h1>
        </div>
      {{ else }}
        <div class="sidebar__introduction-title">
          <a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Params.Title }}</a>
        </div>
      {{ end }}
      {{ with strings.TrimSpace .Site.Params.description }}
        <div class="sidebar__introduction-description">
          <p>{{ replace . "\n" "<br />" | safeHTML }}</p>
        </div>
      {{ end }}
    </div>
  </div>
</div>
